{{- if and .Values.replicaSet.enabled (gt (int .Values.replicaSet.hiddenSecondaries.instances | default 0) 0) }}
apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: {{ include "mongodb.fullname" . }}-hidden
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "mongodb.labels" . | nindent 4 }}
    service-type: hidden-secondary
  {{- with (include "mongodb.annotations" .) }}
  annotations: 
{{- . | indent 4 }}
  {{- end }}
spec:
  {{- if .Values.replicaSet.hiddenSecondaries.storage.persistentVolumeClaimRetentionPolicy }}
  persistentVolumeClaimRetentionPolicy:
    {{- toYaml .Values.replicaSet.hiddenSecondaries.storage.persistentVolumeClaimRetentionPolicy | nindent 4 }}
  {{- end }}
  selector:
    matchLabels:
      {{- include "mongodb.selectorLabels" . | nindent 6 }}
      service-type: hidden-secondary
  serviceName: {{ include "mongodb.fullname" . }}-{{ .Values.replicaSet.hiddenSecondaries.headlessServiceSuffix }}
  podManagementPolicy: {{ .Values.podManagementPolicy }}
  {{- if .Values.replicaSet.enabled }}
  replicas: {{ .Values.replicaSet.hiddenSecondaries.instances }}
  {{- end }}
  {{- if .Values.revisionHistoryLimit }}
  revisionHistoryLimit: {{ .Values.revisionHistoryLimit }}
  {{- end }}
  updateStrategy:
    type: {{ .Values.updateStrategyType }}
  template:
    metadata:
      {{- with .Values.podAnnotations }}
      annotations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      labels:
        {{- include "mongodb.selectorLabels" . | nindent 8 }}
        service-type: hidden-secondary
      {{- with .Values.podLabels }}
        {{- toYaml . | nindent 8 }}
      {{- end }}
    spec:
      {{- if .Values.priorityClassName }}
      priorityClassName: {{ .Values.priorityClassName }}
      {{- end }}
      {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      serviceAccountName: {{ include "mongodb.serviceAccountName" . }}
      {{- with .Values.podSecurityContext }}
      securityContext:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      initContainers:
        - name: {{ .Chart.Name }}-init
          {{- with .Values.securityContext }}
          securityContext:
            {{- toYaml . | nindent 12 }}
          {{- end }}
          image: "{{ .Values.image.registry }}/{{ .Values.image.repository }}:{{ .Values.image.tag | default .Chart.AppVersion }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          volumeMounts:
            {{- if .Values.extraScripts }}
            - mountPath: /extrascripts
              name: extrascripts-volume
            {{- end }}
            {{- if .Values.extraSecretConfigs }}
            - mountPath: /extraconfigs
              name: extraconfigs-volume
            {{- end }}
            {{- if .Values.customScripts }}
            - mountPath: /customscripts
              name: customscripts-volume
            {{- end }}
            {{- if .Values.customConfig }}
            - mountPath: /customconfig
              name: customconfig-volume
            {{- end }}
            - mountPath: /initscripts
              name: initscripts
            - mountPath: /extrainitscripts
              name: extrainitscripts
            - mountPath: /scripts
              name: scripts
            - mountPath: /configs
              name: configs
            - mountPath: /replicaset
              name: keyfile
            {{- if .Values.replicaSet.keySecretName }}
            - mountPath: /keyfile-secret
              name: keyfile-secret
            {{- end }}
          command: [ "/scripts/init.sh" ]
          {{- with .Values.initResources }}
          resources:
            {{- toYaml . | nindent 12 }}
          {{- end }}
      {{- with .Values.extraInitContainers }}
      {{- toYaml . | nindent 8 }}
      {{- end }}
      containers:
        - name: {{ .Chart.Name }}
          {{- with .Values.securityContext }}
          securityContext:
            {{- toYaml . | nindent 12 }}
          {{- end }}
          image: "{{ .Values.image.registry }}/{{ .Values.image.repository }}:{{ .Values.image.tag | default .Chart.AppVersion }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          command: [ "/extrainitscripts/extra-init.sh" ]
          args:
            {{- range .Values.args }}
            - {{ . }}
            {{- end }}
            - --config
            - /etc/mongo/custom.conf
            {{- if .Values.replicaSet.enabled }}
            - --replSet
            - {{ .Values.replicaSet.name | quote }}
            - --keyFile
            - "/replicaset/keyfile"
            {{- end }}
          ports:
            - name: mongodb
              containerPort: 27017
              protocol: TCP
          {{- if .Values.customStartupProbe }}
          startupProbe:
            {{- toYaml .Values.customStartupProbe | nindent 12 }}
          {{- else }}
          {{- if .Values.startupProbe.enabled }}
          startupProbe:
            exec:
              command:
                - /bin/sh
                - -c
                - /extrainitscripts/mongoshell --eval "db.adminCommand('ping')"
          {{- with .Values.startupProbe }}
            initialDelaySeconds: {{ .initialDelaySeconds }}
            timeoutSeconds: {{ .timeoutSeconds }}
            failureThreshold: {{ .failureThreshold }}
            successThreshold: {{ .successThreshold }}
            periodSeconds: {{ .periodSeconds }}
          {{- end }}
          {{- end }}
          {{- end }}
          {{- if .Values.customLivenessProbe }}
          livenessProbe:
            {{- toYaml .Values.customLivenessProbe | nindent 12 }}
          {{- else }}
          {{- if .Values.livenessProbe.enabled }}
          livenessProbe:
            exec:
              command:
                - /bin/sh
                - -c
                - /extrainitscripts/mongoshell --eval "db.adminCommand('ping')"
          {{- with .Values.livenessProbe }}
            initialDelaySeconds: {{ .initialDelaySeconds }}
            timeoutSeconds: {{ .timeoutSeconds }}
            periodSeconds: {{ .periodSeconds }}
            failureThreshold: {{ .failureThreshold }}
            successThreshold: {{ .successThreshold }}
          {{- end }}
          {{- end }}
          {{- end }}
          {{- if .Values.customReadinessProbe }}
          readinessProbe:
            {{- toYaml .Values.customReadinessProbe | nindent 12 }}
          {{- else }}
          {{- if .Values.readinessProbe.enabled }}
          readinessProbe:
            exec:
              command:
                - /bin/sh
                - -c
                - /extrainitscripts/mongoshell --eval "db.adminCommand('ping')"
          {{- with .Values.readinessProbe }}
            initialDelaySeconds: {{ .initialDelaySeconds }}
            timeoutSeconds: {{ .timeoutSeconds }}
            periodSeconds: {{ .periodSeconds }}
            failureThreshold: {{ .failureThreshold }}
            successThreshold: {{ .successThreshold }}
          {{- end }}
          {{- end }}
          {{- end }}
          {{- with .Values.resources }}
          resources:
            {{- toYaml . | nindent 12 }}
          {{- end }}
          env:
            - name: "MONGOTYPE"
              value: "HIDDEN"
          {{- with .Values.extraEnvVars }}
            {{- toYaml . | nindent 12 }}
          {{- end }}
          volumeMounts:
            - name: tmp
              mountPath: /tmp
            - name: extrainitscripts
              mountPath: /extrainitscripts
            - name: {{ .Values.replicaSet.hiddenSecondaries.volumeName }}
              mountPath: /data/db
            - mountPath: /docker-entrypoint-initdb.d
              name: initscripts
            - mountPath: /etc/mongo
              name: configs
            {{- if .Values.replicaSet.enabled }}
            - mountPath: /replicaset
              name: keyfile
            {{- end }}
      {{- with .Values.replicaSet.hiddenSecondaries.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.replicaSet.hiddenSecondaries.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.replicaSet.hiddenSecondaries.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.replicaSet.hiddenSecondaries.topologySpreadConstraints }}
      topologySpreadConstraints:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      volumes:
        - name: tmp
          emptyDir: {}
        - name: extrainitscripts
          emptyDir: {}
        - name: initscripts
          emptyDir: {}
        - name: configs
          emptyDir: {}
        - name: keyfile
          emptyDir: {}
        - name: scripts
          configMap:
            name: {{ include "mongodb.fullname" . }}-scripts
            defaultMode: 0555
        {{- if and .Values.replicaSet.enabled .Values.replicaSet.keySecretName }}
        - name: keyfile-secret
          secret:
            secretName: {{ .Values.replicaSet.keySecretName }}
            defaultMode: 0400
        {{- end }}
{{- with .Values.replicaSet.hiddenSecondaries.storage }}
  {{- $createPvc := and (empty .persistentVolumeClaimName) .requestedSize }}
  {{- if not $createPvc }}
        - name: {{ $.Values.replicaSet.hiddenSecondaries.storage.volumeName }}
        {{- if .persistentVolumeClaimName }}
          persistentVolumeClaim:
            claimName: {{ .persistentVolumeClaimName }}
        {{- else }}
          emptyDir: {}
        {{- end }}
  {{- else }}
  volumeClaimTemplates:
    - metadata:
        name: {{ $.Values.replicaSet.hiddenSecondaries.storage.volumeName }}
      {{- with .labels }}
        labels:
        {{- toYaml . | nindent 10 }}
      {{- end }}
      {{- with .annotations }}
        annotations:
        {{- toYaml . | nindent 10 }}
      {{- end }}
      spec:
        {{- with .accessModes }}
        accessModes:
          {{- toYaml . | nindent 10 }}
        {{- end }}
        {{- if .className }}
        storageClassName: {{ .className }}
        {{- end }}
        resources:
          requests:
            storage: {{ .requestedSize }}
  {{- end }}
{{- end }}
{{- end }}
