
shardedCluster:
  enabled: true

  configsvr:
    replicaCount: 2
    resources:
      limits:
        memory: 512Mi
      requests:
        cpu: 50m
        memory: 256Mi
    persistence:
      size: 500Mi

  mongos:
    replicaCount: 2
    resources:
      limits:
        memory: 512Mi
      requests:
        cpu: 50m
        memory: 256Mi

  shards: 2

  shardsvr:
    dataNode:
      replicaCount: 2
      resources:
        limits:
          memory: 512Mi
        requests:
          cpu: 50m
          memory: 256Mi
    persistence:
      size: 500Mi

    arbiter:
      replicaCount: 1
      resources:
        limits:
          memory: 512Mi
        requests:
          cpu: 25m
          memory: 256Mi

  initialization:
    defaultWriteConcern: "1"
    enableShardingDatabases:
      - testdb
    shardCollections:
      - database: testdb
        collection: users
        key: "{userId: 1}"

auth:
  enabled: true
  rootUsername: admin
  rootPassword: testpassword123

replicaSet:
  enabled: false
  key: "XtH1lFsJ7dWLs6g505vm58ragksPl6OZ6x0i3lkrUNchb8YXNTwxMvVyxmoizawLUYn78RlKr83Rmg9UK4HeAg2yFSEqshC+appk3TpcSRkQq8gIByt4/yuic9b7Z3OnsczOOcK7QbXSQtCR3F5RS721C6FnGGzdkJHs8MFxt7k2PMNKDZ81l6cx/XJ99WvpFhXqIRVWYQJZKGnIIclLPGrksFVpfOfKRAPv9Ph4bgL1VMLthG9WeLr+4BBjOrCd4FP3CXfS+DxXLI0Y7obo/fbyvZpdwWhqGVTCZZXnuy5X/r3hGm2KOyOBGZg0qNzQEP/fsyhX7Qg8u09dC9BpXCjOr2mPpLOauHc8uTzBLTusCOqUfnW663VT0/P2O3khFlcd97rxhJkAa7+CNvqvxvVvErpzqqdBFfLqOuxbnBO3dKCV0niD8HzrNqfqdA7g0z3IKt1eVRxN++Tjcbi98ubo6lPPGNCvU2zQZWNxDqMjZLN3g66CL1liriZNSYoGGJRO5voO0hY0IUwL3WOKM5SOLg7dVVCoCjPH9IaKcK9OI3egDQp+0wCHi2OaGHyVPyB4Kcve4sy+5N783sAhxHV+c4jhV5eSEteELCzstV5+krVJXwgZAQ+aRPirIQ326xaOaz9hEgTPjiVShfOXu46ncBP0mGSIuS/FG9VumAWIInPw37IxqfKaVXF0H9lcRUJ7LqKB7OnwW6jamGW56Sn4MWwnQbrZ1IDJ4IENzP0cpasZsjfY+dvV+zp7R+mpXBLNPZgOb1pa03vX9mYndtGLCTEPiplNe01LkadP/Nkfk2cfpPcs6h8trPyMV868r2o5/qAgFaNFL4x3Ye82zYv/jH2paWFZYd9b8d5H5Rrxgm/z0Nx1dAQvQUx0dOotmsCRSdg1tIbK8JkTkbjh4y8Zrg/fE/pl6u3uOWJiBF9RUtySwiBMIhUhggRwpoPEU07UX2nLvXHL24dH1tRj+qTT0VjCv/gos+HQ1V+5mvK5LT7f"

serviceAccount:
  create: true

resources:
  limits:
    memory: 512Mi
  requests:
    cpu: 50m
    memory: 256Mi

persistence:
  enabled: true
  storageClass: "standard"
  size: 2Gi
